@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#home {
    height: 100vh;
    flex-direction: column;
    background-color: aquamarine;
}

#about {
    height: 100vh;
    color: black;
    background-color: blueviolet;
}

#contact {
    height: 100vh;
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

#projects {
    height: 100vh;
    background-color: white;
}

#resume {
    height: 100vh;
    background-color: yellowgreen;
}

#name {
    width: 40vw;
    text-align: justify;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Alfa Slab One;
    text-align-last: justify;
    font-size: 9vw;
}

h4 {
    font-family: Alfa Slab One;
    margin-top: -10%;
    text-align: center;
    font-size: 5vw;
}