@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#home {
    height: 100vh;
    /* flex-direction: column; */
    background-color: aquamarine;
}

#about {
    height: 100vh;
    color: black;
    background-color: blueviolet;
}

#contact {
    height: 100vh;
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

#projects {
    height: 100vh;
    background-color: white;
}

#resume {
    height: 100vh;
    background-color: yellowgreen;
}

#name {
    width: 40vw;
    text-align: justify;
}


/* #home {
    display: flex;
    align-items: center;
    justify-content: center;
} */

h1 {
    font-family: Alfa Slab One;
    text-align-last: justify;
    font-size: 9vw;
}

h4 {
    font-family: Alfa Slab One;
    margin-top: -10%;
    text-align: center;
    font-size: 5vw;
}

#links,
#social {
    font-size: 3vw;
}


/* project styling */

ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul li a {
    color: yellow;
    font-weight: bolder;
}

ul li a:hover {
    color: blue;
}

ul li {
    position: absolute;
    width: 33.3%;
    height: 100%;
    text-align: center;
    line-height: 150vh;
    font-size: 5vh;
    transition: .7s;
    z-index: 1;
    color: navy;
}

ul li:hover {
    background: magenta;
    opacity: .5;
}

ul li:nth-child(2) {
    left: 33.3%
}

ul li:nth-child(3) {
    left: 66.6%
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/keyboard.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

ul li:nth-child(1):hover~.box {
    background: url(images/cleague.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: navy;
}

ul li:nth-child(2):hover~.box {
    background: url(images/covid.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

ul li:nth-child(3):hover~.box {
    background: url(images/right.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#moreprojects {
    background-color: cadetblue;
    height: 100vh;
}

a p {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}